.drop-zone {
  width: 500px;
  height: 250px;
  background-color: #f0f0f0;
  border: 2px dashed #dadada;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  overflow: auto;

  &.dragging {
    border-color: purple;
  }
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
